*{
  font-family:fantasy;
  margin:0; padding:0;
  box-sizing:border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;

}

.header{
  position: sticky;
  top: 0; left: 0;; right: 0;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
  padding: 2rem 9%;

}
  
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    background: rgba(0,0,0,.1)
  }
  
  .card-carousel {
    --card-width: 40%;
    --card-max-width: 280px;
    --card-height: 220px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
}

    .image{
        flex:1 1 42rem;
        width: 100%;
        margin-top: 5rem;
    }

    .btn{
      display: inline-block;
      margin-top: 1rem;
      padding: 1rem 3rem;
      font-size: 2rem;
      color: white;
      background: black;
      border: border;
      cursor: pointer;
      font-weight: bolder;
      border-radius: .5rem;

    }

    .content{
      flex:1 1 42rem;
    }

    h3{
      font-size:6rem;
      font-weight:bolder;
    }

    p{
      font-size: 2rem;
      padding: 1rem 0;
      line-height: 2;
    }

@media (max-width:1200px){
    .header{
        padding:2rem;
    }
    section{
        padding:3rem 2 rem
    }
}

  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");
  }
   
  .card:nth-of-type(2) .image-container {
    background-image: url("https://www.w3schools.com/w3css/img_lights.jpg")
  }
  
  .card:nth-of-type(3) .image-container {
    background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
  }

  
  .image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
  
  h2 {
    padding: 1em;
    margin-top: 1em;
    background: rgba(0,0,0,.3);
    text-align: center;
    color: white;
    border-radius: .2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2))
  }
  
  h2 a {
    color: #f5b916
  }